name: Build ifheif

on:
  push:
  

jobs:
  msys-build:
    defaults:
      run:
        shell: msys2 {0}
    strategy:
      matrix:
        config:
          - { sys: MINGW32, ext: spi, arch: i686, archive: ifheif_x86 }
          - { sys: MINGW64, ext: sph, arch: x86_64, archive: ifheif_x64 }
    runs-on: windows-latest
    steps:
    - uses: msys2/setup-msys2@v2
      id: msys2
      with:
        update: true
        msystem: ${{ matrix.config.sys }}
        install: >-
          git
          autotools
          nasm
          zip
          mingw-w64-${{ matrix.config.arch }}-toolchain
          mingw-w64-${{ matrix.config.arch }}-meson
          mingw-w64-${{ matrix.config.arch }}-cmake

    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Copy all files
      shell: pwsh
      run: |
        cd ${{ github.workspace }}
        cp -r ./* ${{ steps.msys2.outputs.msys2-location }}/home/runneradmin
    
    - name: Install dav1d
      run: |
        cd
        git clone https://code.videolan.org/videolan/dav1d.git -b 1.5.3 --depth 1
        cd dav1d
        mkdir build && cd build
        meson --prefix=${HOME}/dec --buildtype release --default-library=static ..
        ninja
        ninja install

    - name: Install libde265
      run: |
        cd
        git clone https://github.com/strukturag/libde265.git -b v1.0.15 --depth 1
        cd libde265
        sed -i -e 's/ -static-libstdc++//g' ./dec265/Makefile.am
        ./autogen.sh
        PKG_CONFIG_PATH=${HOME}/dec/lib/pkgconfig ./configure --prefix=${HOME}/dec --disable-encoder --disable-arm --enable-static --disable-shared --disable-dec265 --disable-sherlock265
        make -j$(nproc)
        make install -j$(nproc)
        sed -i -e 's/ @LIBS_PRIVATE@//g' ${HOME}/dec/lib/pkgconfig/libde265.pc

    - name: Install libheif
      run: |
        cd
        git clone https://github.com/strukturag/libheif.git -b v1.21.2 --depth 1
        cd libheif
        mkdir build && cd build
        CMAKE_PREFIX_PATH=${HOME}/dec cmake --preset=release -DBUILD_SHARED_LIBS=OFF -DWITH_EXAMPLES=OFF -DWITH_GDK_PIXBUF=OFF -DENABLE_PLUGIN_LOADING=OFF -DWITH_HEADER_COMPRESSION=OFF -DWITH_UNCOMPRESSED_CODEC=OFF -DCMAKE_INSTALL_PREFIX=${HOME}/dec ..
        ninja
        ninja install

    - name: Build ifheif
      run: |
        cd
        g++ src/ifheif.cpp src/ifheif.def "-Wl,--dll,--enable-stdcall-fixup" -o ifheif.${{ matrix.config.ext }} `PKG_CONFIG_PATH=${HOME}/dec/lib/pkgconfig pkg-config --libs --static --cflags libheif libde265 dav1d` -static -shared

    - name: Add License Files
      run: |
        cd
        mkdir Licenses
        cd Licenses
        cp ../dav1d/COPYING dav1d.txt
        cp ../libde265/COPYING libde265.txt
        cp ../libheif/COPYING libheif.txt

    - name: Create archive
      run: |
        cd
        zip ${{ matrix.config.archive }} -r src LICENSE Readme.md Licenses ifheif.${{ matrix.config.ext }}

    - uses: actions/upload-artifact@v6
      with:
        name: ${{ matrix.config.archive }}
        path: ${{ steps.msys2.outputs.msys2-location }}/home/runneradmin/*.zip

  release:
    needs: msys-build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - uses: actions/download-artifact@v7
      with:
        path: artifacts

    # https://gist.github.com/superbrothers/af84a2f8af394a62352e06537a640746        
    - name: Create a Release
      shell: pwsh
      if: ${{ github.ref == 'refs/heads/master' }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        cd ${{ github.workspace }}
        $REVCOUNT=git rev-list --count HEAD
        $RELEASE_NAME="r${REVCOUNT}"
        $TAG_NAME="r${REVCOUNT}"
        mv ./artifacts/*/*.zip ./
        gh release create "${TAG_NAME}" ./*.zip -t "${RELEASE_NAME}"


